# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Database
*.sqlite
*.sqlite3
*.db

# Coverage reports
coverage/

# Production build
dist/
build/

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Sequelize CLI generated folders (if used)
migrations/
seeders/
